@model IPagedList<SmartManager.Models.Client>
@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
    var search = ViewData["Search"]?.ToString();
    var searchVisible = !string.IsNullOrEmpty(search);
}
@using X.PagedList
@using X.PagedList.Mvc.Core

<div class="d-flex justify-content-between align-items-center my-5">
    <div>
        <h3 class="fw-bold">Clientes</h3>
        <p class="text-muted">Consulte seus Clientes cadastrados em sua Loja ou realize o cadastro de novos Clientes</p>
    </div>
    <div>
        <a href="@Url.Action("Create", "Client")" class="btn btn-primary">
            <i class="bi bi-person-fill-add"></i>
            Adicionar Cliente
        </a>
    </div>
</div>


<div class="d-flex justify-content-between align-items-center my-3">
    <div>
        <button id="filter-btn" class="btn btn-primary">Filtrar</button>
    </div>
    <div id="search-area" style="display:@(searchVisible ? "block" : "none")" class="col ms-2">
        <form id="search-form" method="get" action="@Url.Action("Index", "Client")" class="d-flex">
            <div class="input-group">
                <label for="search" class="visually-hidden">Pesquisar:</label>
                <input type="text" id="search" name="search" class="form-control" placeholder="Digite o nome para pesquisar" value="@ViewData["Search"]" />
                <button type="submit" class="btn btn-success ms-2">Pesquisar</button>
            </div>
        </form>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" id="select-all" /></th>
            <th>Nome/Razão Social</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data de Cadastro</th>
            <th>Bloqueado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td><input type="checkbox" class="select-row" /></td>
                <td>@client.Name</td>
                <td>@client.Email</td>
                <td>@client.Phone</td>
                <td>@client.RegistrationDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <input type="checkbox" class="block-checkbox" data-client-id="@client.Id" @(client.IsBlocked ? "checked" : "") />
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Client", new { id = client.Id })" class="btn btn-secondary">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewData["Search"] }), new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    UlElementClasses = new[] { "pagination" }
})
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filter-btn').click(function () {
                $('#search-area').toggle();
            });

            $('#select-all').click(function () {
                var checked = this.checked;
                $('.select-row').each(function () {
                    this.checked = checked;
                });
            });

            $('.block-checkbox').change(function () {
                var clientId = $(this).data('client-id');
                var isBlocked = $(this).is(':checked');

                $.ajax({
                    url: '@Url.Action("ToggleBlock", "Client")',
                    type: 'POST',
                    data: {
                        id: clientId,
                        isBlocked: isBlocked
                    },
                    success: function (response) {
                        console.log("Status de bloqueio atualizado com sucesso.");
                    },
                    error: function (xhr, status, error) {
                        console.log("Erro ao atualizar status de bloqueio.");
                    }
                });
            });

            // Adicionando a funcionalidade de atualização da página ao apagar o texto na barra de pesquisa
            $('#search').on('input', function () {
                if ($(this).val() === '') {
                    $('#search-form').submit();
                }
            });
        });
    </script>

}
